<main role="main">

  <section class="jumbotron text-center" style="margin-bottom: 0;">
    <div class="container">
      <h1 class="jumbotron-heading">Angular Exam Group 3209 Rastvorov</h1>
      <p class="lead text-muted">REST приложение api/movies, позволяющее отслеживать рейтинг фильмов.</p>
      <p>
        <a href="#" class="btn btn-primary my-2">Main call to action</a>&nbsp;
        <a href="#" class="btn btn-secondary my-2">Secondary action</a>
      </p>
    </div>
  </section>

<all-movies></all-movies>
<add-movie></add-movie>

</main>
