
    <div class="album py-5 bg-light">
      <div class="container" >
        <div class="row">
            <div class="col-md-8" style="margin-right:auto; margin-left:auto;">
                <div style="text-align:center;">
                    <h3>All movies</h3>
                </div>
            </div>
        </div>
        <div class="row" >
          <div class="col-md-4" *ngFor="let movie of movies">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top" alt="{{ movie.title }}" style="min-height: 225px; display: block;" data-holder-rendered="true" src="{{ movie.poster }}" appImgFallback>
              <div class="card-body">
                <DL>
                    <DT> id </DT> <DD> {{ movie.id }} </DD>
                    <DT> Title </DT> <DD> {{ movie.title }} </DD>
                    <DT> Director </DT> <DD> {{ movie.director }} </DD>
                    <DT> Year </DT> <DD> {{ movie.year }} </DD>
                    <DT> Like </DT> <DD> {{ movie.like }} </DD>
                    <DT> Dislike </DT> <DD> {{ movie.dislike }} </DD>
                    <DT> Poster</DT> <DD>{{ movie.poster }}</DD>
                   </DL>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button id="likeBtn" type="button" class="btn btn-sm btn-outline-secondary" (click)="onLike(movie)">Like</button>
                    <button id="dislikeBtn" type="button" class="btn btn-sm btn-outline-secondary" (click)="onDislike(movie)">Dislike</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary" (click)="onDelete(movie.id)">Delete</button>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
